.example::-webkit-scrollbar {
    display: none;
  }
  
li{
    list-style-type: none;  
    float: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.active{
    background-color: rgb(190, 190, 190);
}

li:hover{
    background-color: rgb(190, 190, 190);
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: black;
}

.topnav{
    margin-top: 0.1rem;
    overflow: hidden;
}
.hmm{
    margin-top: -0.5rem ; 
    margin-left: -2rem;
    background-color: white;
    font-family: 'Titan One', cursive;
}

.hmm:hover{
    background-color: white;
}

.textNavbar{
    margin-top: 1.2rem;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
}

.textNavbar2{
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: white;
    padding-left: 1rem;
    text-align: center;
}


.Aboutme{
    margin-top: 15rem;
    margin-left: 10rem;
    margin-bottom: 4rem;
    font-family: 'Titan One', cursive;
    font-size: 4rem;
}
.Text{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 9rem;
    margin-right: 11rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.img{
    transform: scale(0.5);
    margin-top: -8rem;
}

.projecten{
    font-family: 'Titan One', cursive;
    margin-left: 53rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.card-header{
    text-align: center;
    color: white;
}

.card-body{
    text-align: left;
    margin-bottom: 10rem;
}

.imgmakey{
    transform: scale(0.1);
    margin-left: -107.8rem;
    margin-top: -55rem;
    margin-bottom: -55rem;
}

.imgprocessing{
    transform: scale(0.5);
    margin-top: -10rem;
}

.headertext{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.Alltext{
    font-family: 'Roboto Condensed', sans-serif;
}

.color{
    background-color: black;
}

.align{
    text-align: left;
    margin-left: 0.8rem;
}
button{
    transform: scale(500%);
    border-style: hidden;
    background-color: white;
}

button:hover{
    transition: 1s;
    transform: scale(550%);
}

.arrow{
    margin-top: 8rem;
    margin-left: 19rem;
}


.container1{
    height: 60.5rem;
    width: auto;
    background-color: black;
    color: white;
    position: relative;
}

.works__title {
	z-index: 100;
	width: 100%;
	text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 10vw;
	display: grid;
	grid-template-columns: 80%;
	grid-template-rows: 100%;
	align-items: start;
    margin-left: 10rem;
    position: relative;
}

.works__title > span {
    margin-top: 25rem;
	grid-area: 1 / 1 / -1 / -1;
}

.works__title .oh {
	line-height: 0.7;
}

.works__title .oh__inner {
	line-height: 0.7;
	padding-top: 1.5vw;
}

.works__title > span:last-child {
	align-self: end;
    text-align: right;
}

.work{
    border-style: solid;
    color:white;
    padding-bottom: 20rem;
    position: absolute;
}

.work1{
    border-style: solid;
    color:white;
    position: absolute;
    bottom: 0;
}
  
/*phone*/
@media (max-width: 320px) {
    
}

/*tablet*/
@media (max-width: 1024px) {
    
}