body{
    background-color: white;
}

.div1{
padding-bottom: 50px;
text-align: center;
}

.div2{
    padding-top: 50px;
    padding-bottom: 50px;
text-align: center;
}

.div3{
    padding-left: 200px;
}