body{
    background-color: #c1b19a;
    margin:0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #877d6c;
}
li{
    float: left;
}

li a:hover:not(.active) {
    background-color: gray;
}

li a {
   text-transform: capitalize;
   text-align: center;
   display: block;
   color: white;
   padding: 15px 25px;
   background-color: #a99a86;
   text-decoration: none;
}