.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    width: 75%;
    gap: 2rem;
    
}

.col{
    color: white;
}

.videoBig{
    display: flex;
}

.videoBig video{
    height: 350px;
    width: 350px;
}

.videoSmall{
    display: flex;
    justify-content: center;
}

.videoSmall video{
    height: 350px;
    width: 350px;
}