:root {
    --background: #52057B;
    --secondary-color: #000000;
    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

}

.cards a {
    margin: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    background: var(--color-text-primary);
    color: var(--color-text-secondary);
    border-radius: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-text-primary);
    border-style: solid;
}

.cards a:hover {
    color: var(--color-text-primary);
    background: var(--background);
    border-color: var(--color-text-secondary);
    border-style: solid;
    border-radius: 1rem;
}

.bigCard {
    display: flex;
    flex-direction: column;
    background: var(--color-text-primary);
    box-sizing: border-box;
    flex: 1 1 100%;
    margin: 1rem .25rem;
    border-style: solid;
    box-shadow: 0 0px 30px 0px rgb(120, 20, 250);
    border-radius: 10px 10px 10px 10px;
}

.bigCard p {
    margin-left: 1rem;
}

.smallCard {
    display: flex;
    flex-direction: column;
    background: white;
    box-sizing: border-box;
    flex: 1 1 100%;
    margin: 1rem .25rem;
    border-style: solid;
    box-shadow: 0 0px 30px 0px rgb(120, 20, 250);
    border-radius: 10px 10px 10px 10px;
}

.smallCard p {
    margin-left: 1rem;
}


.cardTop {
    opacity: 95%;
    background: var(--background);
    color: white;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    padding: 0.1%;
    margin-bottom: 2rem;
}




/*phone*/
@media screen and (min-width: 650px) {

    .bigCard {
        background: white;
        box-sizing: border-box;
        flex: 0 1 calc(49% - 1em);
        margin: ;
    }

    .smallCard {
        background: white;
        box-sizing: border-box;
        flex: 0 1 calc(49% - 1em);
        border-style: solid;
    }

}

/*tablet*/
@media screen and (min-width: 1280px) {

    .bigCard {
        flex: 0 1 calc(50% - 1em);
    }


    .smallCard {
        flex: 0 1 32%;
        border-radius: 15px;
    }
}