@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --primary-color: #52057B;
    --secondary-color: #000000;
    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
    --hover-color: #892CDC;
}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


body {
    font-size: 20px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


.nav-list {
    opacity: 95%;
    background-color: var(--primary-color);
    color: var(--color-text-primary);
    margin: 0;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    font-weight: bold;
    color: var(--color-text-primary);
}


.nav-item a {
    color: var(--color-text-primary);
    padding: 0.3rem;
    text-decoration: none;
}

.nav-item:nth-child(5) {
    margin-left: auto;
}

.nav-item:first-child {
    margin-left: 0.1rem;
    margin-right: auto;
}


.nav-item a:hover {
    color: var(--color-text-primary);
    background-color: var(--hover-color);
    border-radius: 15rem;
}

.container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container code {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

.container:nth-child(even) {
    background-color: var(--primary-color);
    opacity: 95%;
    color: var(--color-text-primary);
}

.container:nth-child(odd) {
    background-color: var(--secondary-color);
    opacity: 95%;
    color: var(--color-text-primary);
}


.row {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.col {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 1 50%;
    margin: 1rem .25rem;
}

.col p {
    width: 80%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.col h1{
    margin: 1rem;
}

.col a{
    color: var(--color-text-primary);
}

.img {
    background-size: cover;
    background-image: url('/assets/me.jpg');
    width: 100%;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title span {
    text-align: center;
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    width: 80%;
}

.home-title span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
}

.home-title span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
    animation-delay: 1s;
}


@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(101%)
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(200%)
    }
}

img{
    border: solid 3px var(--color-text-secondary);
    width: clamp(300px, 40%, 1000px);
}


.About {
    background-color: var(--background);
    color: var(--color-text-primary);
    width: 10%;
    right: 1rem;
    margin: 0;
    height: 100vh;
    border: solid none;
    border-radius: 0px 3000px 3000px 0px;
}

.About p {
    width: 60%;
}

footer {
    text-align: center;
    background-color: var(--color-text-secondary);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    font-size: 18px;
}

.row span {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: 1rem;
}


.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    opacity: 95%;
    color: var(--color-text-primary);
    background-color: var(--background);
}

.Hire{
    font: 20px;
    margin: 3rem;
}  

.points{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}




/*tablet*/
@media screen and (min-width: 650px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 5rem 0rem 5rem 0rem;
        display: fl;
    }

    .row {
        width: 100%;
    }

    .col {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        flex: 1 1 40%;
    }

    .col p {
        width: 80%;
    }

    .About {
        background-color: var(--color-text-primary);
        color: var(--color-text-secondary);
        width: 100%;
        height: 100vh;
        margin: 0;
        border: solid black;
        border-radius: 0px 3000px 3000px 0px;
    }

    .AboutRight {
        background-color: var(--color-text-primary);
        color: var(--color-text-secondary);
        width: 100%;
        height: 100vh;
        margin: 0;
        border: solid black;
        border-radius: 400px 0px 0px 400px;
    }

    .About p {
        width: 70%;
    }



    .nav-item a {
        color: var(--color-text);
        padding: 1rem;
        text-decoration: none;
    }

    .row span {
        flex: 1 1 25%;
    }
}

/* pc */
@media screen and (min-width: 1280px) {
    body {
        font-size: 20px;
    }

    .nav-list {
        padding: 0.5rem;
    }

    .nav-item:first-child {
        margin-left: 1rem;
        margin-right: auto;
    }

    .nav-item a:hover {
        padding: 1rem;
    }

    .header{
        scale: 2;
    }


    .row:nth-child(1) {
        width: 100%;
    }

    .AboutRight {
        border-radius: 3000px 0px 0px 3000px;
    }

    .About p {
        width: 80%;
    }

    .home-title span {
        width: 100%;
        line-height: 3;
        font-size: 3.5rem;
    }

    .row span {
        flex: 1 1 10%;
    }
}