@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

:root {
    --background: #35155D;
    --secondary-color: rgb(120, 20, 250);
    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;

}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


body {
    font-size: 16px;
    background-color: var(--background);
    margin: 0rem;
    padding: 0rem;
    font-family: 'Courier New', Courier, monospace;
}


.nav-list {
    opacity: 95%;
    background-color: var(--background);
    color: var(--color-text);
    margin: 0;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 0px 0px;
}

.nav-item {
    list-style: none;
    font-weight: bold;
    color: var(--color-text-primary);
}


.nav-item a {
    color: var(--color-text-primary);
    padding: 0.3rem;
    text-decoration: none;
}

.nav-item:last-child {
    padding-right: 1rem;
}

.nav-item:nth-child(5) {
    margin-left: auto;
}

.nav-item:first-child {
    padding-left: 1rem;
    margin-right: auto;
}


.nav-item a:hover {
    padding: 1rem;
    color: var(--color-text-primary);
    background-color: var(--secondary-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px 4px 10px -5px rgb(120, 20, 250);
}

.container code {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

.container:nth-child(even) {
    background-color: var(--background);
    opacity: 95%;
    color: var(--color-text-primary);
}

.container:nth-child(odd) {
    background-color: var(--color-text-primary);
    opacity: 95%;
    color: var(--color-text-secondary);
}


.row {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.col {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col p {
    width: 100%;
}

.About {
    background-color: white;
    width: 80% !important;
    border: solid none;
    border-radius: 0px 3000px 3000px 0px;
}

.About p {
    width: 90%;
}



.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
    box-shadow: 0 4px 12px -5px rgb(120, 20, 250);
    opacity: 95%;
    color: var(--color-text);
    background-color: var(--background);
}

.img {
    background-image: url('/img/Stan.png');
    border-style: solid;
    background-size: cover;
    border-color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
}

.topImg {
    background-image: url('/pages/agile/img/bappoText.png');
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 13rem;
    border-radius: 2rem;
}

.imgSize {
    background-image: url('/pages/agile/img/door/code.png');
    background-size: cover;
    height: 250px;
}



/*tablet*/
@media screen and (min-width: 650px) {
    body {
        font-size: 15px;
    }

    .container {
        padding: 5rem 0rem 5rem 0rem;
    }

    .row {
        width: 100%;
    }

    .col {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .col p {
        width: 60%;
    }

    .img {
        background-image: url('/img/Stan.png');
        border-style: solid;
        background-size: cover;
        border-color: rgb(120, 20, 250);
        width: 15rem;
        height: 15rem;
    }

    .nav-item a {
        color: var(--color-text);
        padding: 1rem;
        text-decoration: none;
    }
}

/* pc */
@media screen and (min-width: 1280px) {
    body {
        font-size: 25px;
    }

    .nav-list {
        padding: 0.5rem;

    }

    .nav-item:first-child {
        margin-left: 1rem;
        margin-right: auto;
    }

    .nav-item a:hover {
        padding: 1rem;
        color: rgb(255, 255, 255);
        background-color: rgb(120, 20, 250);
    }

    .container {
        padding: 5rem 0rem 5rem 0rem;
    }

    .container code {
        font-size: 5rem;
    }

    .row {
        width: 80%;
    }

    .row:nth-child(1) {
        width: 100%;
    }

    .col {
        height: 100vh;
        width: 40%;
    }


    .col p {
        width: 100%;
    }

    .img {
        width: 25rem;
        height: 25rem;
    }

    .About p {
        width: 80%;
    }
}