.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

li {
    list-style-type: none;
    float: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.active {
    background-color: rgb(190, 190, 190);
}

li:hover {
    background-color: rgb(190, 190, 190);
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: black;
}

.topnav {
    margin-top: 0.1rem;
    overflow: hidden;
}

.hmm {
    margin-top: -0.8rem;
    margin-left: -2rem;
    background-color: white;
    font-family: 'Titan One', cursive;
}

.hmm:hover {
    background-color: white;
}

.textNavbar {
    margin-top: 0.8rem;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
}

.textNavbar2 {
    margin-top: 0.8rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: white;
    padding-left: 1rem;
    text-align: center;
}

.Aboutme {
    margin-top: 15rem;
    margin-bottom: 4rem;
    font-family: 'Titan One', cursive;
    font-size: 4rem;
}

.WeakPoints{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Titan One', cursive;
    font-size: 4rem;
}

.Text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
}

.Text1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 18rem;
}

.img {
    background-image: url('img/Stan.png');
    background-size: cover;
    border-style: solid;
    border-color: rgb(104, 104, 104);
    height: 500px;
    width: 500px;
    margin-left: 8rem;
}

.projecten {
    font-family: 'Titan One', cursive;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.card {
    min-height: 10rem;
    max-height: 30rem;
}


.card-header {
    text-align: center;
    color: white;
}

.card-body {
    text-align: left;
    margin-bottom: 5rem;
}


.headertext {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.headertext1 {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.Alltext {
    font-family: 'Roboto Condensed', sans-serif;
}

.color {
    background-color: black;
}

.align {
    text-align: left;
    margin-left: 0.8rem;
}

.arrow {
    align-self: center;
    font-size: 5rem;
    border-style: hidden;
    background-color: white;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    margin-left: 7.5rem;
}

.arrow:hover {
    transition: 1.5s;
    font-size: 5rem;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 30rem;
    margin-left: 7.5rem;
}

.arrow1 {
    align-self: center;
    font-size: 5rem;
    border-style: hidden;
    background-color: white;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
}

.arrow1:hover {
    transition: 1.5s;
    font-size: 5rem;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 30rem;
}

.arrowUp {
    margin-left: 6rem;
    font-size: 10rem;
    transform: rotate(180deg);
    border-style: hidden;
    color: black;
    background-color: transparent;
    transition: 1.5s;
}

.arrowUp:hover {
    margin-left: 6rem;
    background-color: black;
    color: white;
    transition: 1.5s;
    font-size: 10rem;
    transform: rotate(540deg);
    border-radius: 30rem;
}

.containerStyle {
    background-color: white;
    color: black;
}

.buttonstyle {
    border-style: solid;
    color: white;
    border-width: 5px;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    margin-top: 1rem;
}

.paddingtop {
    padding-top: 0.5rem;
}

.buttontop1 {
    background-image: url('arcade/img/Arcade.png');
}

.buttontop2 {
    background-image: url('processing/img/kirby.png');
}

.buttontop3 {
    background-image: url('makey/img/makeymakeyimg2.jpg');
}

.buttontop4 {
    background-image: url('agile/img/bappo.png');
}

.buttontop5 {
    background-image: url('img/weatherapp.png');
}

.buttontop6 {
    background-image: url('');
}

.buttonbottom1 {
    background-image: url('');
}

.buttonbottom2 {
    background-image: url('');
}

.buttonbottom3 {
    background-image: url('');
}

.buttonbottom4 {
    background-image: url('');
}

.buttonbottom5 {
    background-image: url('');
}

.buttonbottom6 {
    background-image: url('');
}

.row-links a {
    z-index: 0;
    height: 100px;
    background-color: black;
    font-size: 0%;
    border-width: 2px;
}

.row-links a:hover {
    background-color: black;
    color: white;
    opacity: 70%;
    text-shadow: 1rem;
    border-width: 2px;
    transition: 5s;
    font-size: 140%;
    text-shadow: 1px 1px black;
}

.row-links-top a:nth-child(even) {
    height: 150px;
}

.row-links-bottom a:nth-child(odd) {
    height: 150px;
}

.row-links-bottom {
    align-items: flex-end;
}

.works__title {
    z-index: 100;
    width: 100%;
    text-decoration: transparent;
    text-transform: uppercase;
    font-size: 10rem;
    align-items: start;
    position: relative;
    color: rgb(0, 0, 0);
    transition: 2s;
}

.works__title:hover {
    z-index: 100;
    width: 100%;
    text-decoration: transparent;
    text-transform: uppercase;
    font-size: 10rem;
    align-items: center;
    position: relative;
    border-radius: 2rem;
    color: white;
    background-color: black;
    transition: 2s;
}

.works__title>span {
    grid-area: 1 / 1 / -1 / -1;
}

.works__title .oh {
    line-height: 0.7;
}

.noScroll {
    overflow: hidden;
}

.cross {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    background: #efefef;
    z-index: -100;
}

.cross1 {
    width: 100%;
    height: 50%;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    background: #efefef;
    z-index: -100;
}

.cross .diag1 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%);
    background: rgb(104, 104, 104);
    z-index: -100;
}

.cross .diag2 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 90% 100%);
    background: rgb(160, 160, 160);
    z-index: -100;
}

.cross1 .diag3 {
    position: absolute;
    width: 100%;
    height: 66%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%);
    background: rgb(104, 104, 104);
    z-index: -100;
}

.cross1 .diag4 {
    position: absolute;
    width: 100%;
    height: 66%;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 90% 100%);
    background: rgb(160, 160, 160);
    z-index: -100;
}


/*phone*/
@media (max-width: 320px) {}

/*tablet*/
@media (max-width: 1024px) {}